<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNy9pr54g3LfnkoCayzxBQ8jkcQzi0UY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1004886168245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dioProject</string>
	<key>PROJECT_ID</key>
	<string>dio-project-c6428</string>
	<key>STORAGE_BUCKET</key>
	<string>dio-project-c6428.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004886168245:ios:a7767c6e3db5178d3b64fc</string>
</dict>
</plist>